<h1>Demo#Hello</h1>
<p>Hello World From hello!</p>
<p>Riding Ruby on Rails !</p>

<% 1 + 1 %>
<% target = 'Hello World !' %>

<%= "majid saying #{target}" %>
<hr />
<% 3.times do %>
    <%= "xxx" %>
<%  end %>

<hr />

<% @array.each do |n| %>
    <%= n %> <br />
<%  end %>

<hr />

<%= @majid %>

<hr />

<%= link_to('Google.com', 'http://google.com') %> <br />

<%= link_to('hello', {:action => 'index'}) %> <br />

<%= link_to('About Us', {:controller => 'about_us', :action => 'index'}) %> <br />

<%= link_to('Link with Params', {:controller => 'demo', :action => 'index', :page => 5, :id => 20}) %> <br />