<h1>Demo#index</h1>
<p>Hello World From index!</p>
<p>Riding Ruby on Rails !</p>

<%= link_to('hello', {:action => 'hello'}) %>
<hr />
ID : <%= params[:id] %> <br>
ID : <%= @id %> <br>
Page : <%= @page %> <br>
Type : <%= @type %> <br>
Next Page : <%= @page.to_i + 1 %> <br>

<% if !@majid %>
    This is greater then
<% end %>
<hr />

<%= params.inspect %>


