<%= error_messages_for(@user) %>
<div class="form-group">
  <%= f.label(:first_name, "First Name") %>
  <%= f.text_field(:first_name, :class => "form-control", :placeholder => "First name", :id => "first_name") %>
</div>

<div class="form-group">
  <%= f.label(:last_name, "First Name") %>
  <%= f.text_field(:last_name, :class => "form-control", :placeholder => "Last Name", :id => "last_name") %>
</div>

<div class="form-group">
  <%= f.label(:username, "Username") %>
  <%= f.text_field(:username, :class => "form-control", :placeholder => "Username", :id => "username") %>
</div>



<div class="form-group">
  <%= f.label(:email, "Email") %>
  <%= f.text_field(:email, :class => "form-control", :placeholder => "Email", :id => "email") %>
</div>


<div class="form-group">
  <%= f.label(:status, "Visible") %>
  <%= f.check_box(:status, :class => "form-control-check", :id => "status") %>
</div>


<div class="form-group">
  <%= f.label(:password, "Password") %>
  <%= f.password_field(:password, :class => "form-control", :placeholder => "Password", :id => "password") %>
</div>