<%= error_messages_for(@section) %>
<div class="form-group">
  <%= f.label(:name, "Name") %>
  <%= f.text_field(:name, :class => "form-control", :placeholder => "Name", :id => "name") %>
</div>

<div class="form-group">
  <%= f.label(:position, "Position") %>
  <%= f.select(:position, 1..@section_count, {}, {:class => "form-control"})%>
</div>

<div class="form-group">
  <%= f.label(:page_id, "Page ID") %>
  <%= f.select(:page_id, Page.all.map {|p| [p.name, p.id]}, {}, { :class => 'form-control' }) %>
</div>

<div class="form-group">
  <%= f.label(:visible, "Visible") %>
  <%= f.check_box(:visible, :class => "form-control-check", :id => "visible") %>
</div>

<div class="form-group">
  <%= f.label(:content_type) %>
  <br>
  <%= f.radio_button(:content_type, "HTML") %> HTML
  <br>
  <%= f.radio_button(:content_type, "Text") %> Text
</div>

<div class="form-group">
  <%= f.label(:content, "Content") %>
  <%= f.text_area(:content, :size => "4x4", :class => "form-control", :id => "content") %>
</div>
