<div class="form-group">
  <%= f.label(:name, "Name") %>
  <%= f.text_field(:name, :class => "form-control", :placeholder => "Name", :id => "name") %>
</div>

<div class="form-group">
  <%= f.label(:position, "Position") %>
  <%= f.text_field(:position, :class => "form-control", :placeholder => "Position", :id => "position") %>
</div>

<div class="form-group">
  <%= f.label(:page_id, "Page ID") %>
  <%= f.text_field(:page_id, :class => "form-control", :placeholder => "Page iD", :id => "page_id") %>
</div>

<div class="form-group">
  <%= f.label(:visible, "Visible") %>
  <%= f.check_box(:visible, :class => "form-control-check", :id => "visible") %>
</div>

<div class="form-group">
  <%= f.label(:content_type) %>
  <br>
  <%= f.radio_button(:content_type, "HTML") %> HTML
  <br>
  <%= f.radio_button(:content_type, "Text") %> Text
</div>

<div class="form-group">
  <%= f.label(:content, "Subject ID") %>
  <%= f.text_area(:content, :size => "4x4", :class => "form-control", :id => "content") %>
</div>
