<%= error_messages_for(@subject) %>

<div class="form-group">
  <%= f.label(:name, "Name") %>
  <%= f.text_field(:name, :class => "form-control", :placeholder => "Name", :id => "name") %>
</div>

<div class="form-group">
    <%= f.label(:position, "Position") %>
    <%= f.select(:position, 1..@subject_count, {}, {:id => "position", :class => "form-control"}) %>
</div>

<div class="form-group">
  <%= f.label(:visible, "Visible") %>
  <%= f.check_box(:visible, :class => "form-control-check", :id => "visible") %>
</div>

<div class="form-group">
  <%= f.label(:thumbnail, "Thumbnail") %>
  <%= f.file_field(:file, :class => "form-control", :id => "thumbnail") %>
</div>
